/*** reset ***/
html, body, div, span, h1, h2, h3, p, a, img, strong, ol, ul, li { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}

/*** universal ***/
a {
    color: mediumblue;
    font-weight: bold;
    line-height: 1.3em;
}
a.my-essays {
    color: red;
    font-weight: bold;
    line-height: 1.3em;
}
a.videos {
    color: green;
    font-weight: bold;
    line-height: 1.3em;
}
a:focus {
    outline: thin dotted;
}

/* .navbar Is Used For <nav> */
nav {
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: auto;
    max-width: 1000px;
    background-color: #0088bb;
}

li.category-page {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    float: left;
    font-size: 110%;
    text-decoration: none;
}
li.category-page a {
    text-decoration: none;
    color: white;
}
li.category-page:hover {
    background-color: #0fb4e7;
    /* border-bottom: 2px solid white; */
}
a:hover {
    background: blue;
    color: white;
}
li.category-page a:hover {
    background: none;
    color: white;
    text-decoration: none;
}

p {
    line-height: 1.3em;
}

ul, ol {
    margin: 0 40px 0 20px;
    list-style-type: none;
}

ul li {
    margin: 0 0 0.8em;
    line-height: 1.3em;
}

h1 {
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 10px 0 0 0;
    border-top: 2px solid black;
    font-size: 2.0em;
}

h2 {
    margin: 20px 40px 10px 20px;
    padding: 15px 0 0 0;
    border-top: 2px solid black;
    font-size: 1.6em;
}

h3 {
    margin: 10px 40px 10px 00px;
    padding: 0 0 0 0;
    font-size: 1.25em;
}


/** main **/
body {
    background-color: #B0C4DE;
    font-size: 85%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}


header {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid black;
}

header p {
    margin: 0 auto 10px auto;
    padding: 20px 0;
    width: 95%;
    max-width: 1000px;
    text-align: left;
}

header p img {
    float: left;
    margin: 0 8px 8px 0;
    max-width: 160px;
}

#left-column, #middle-column, #right-column {
    float: left;
    margin: 00px 0;
}

#left-column {
    width: 33%;
}

#middle-column {
    width: 33%;
}

#right-column {
    width: 33%;
}

footer {
    width: 100%;
    float: left;
    padding: 20px 0;
    text-align: center;
    font-size: 1.25em;
}

/* #category-bar is used for <div> */
#category-bar {
    box-sizing: border-box;
    overflow: auto;
}
